html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
    background-color: #f7f5f1;
    scroll-behavior: smooth;
}

nav {
position: fixed;
width: 100%;
left: 0;
top: 0;
}

nav ul {
    border-bottom: 1.5px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 60px;
    background-color: #C2E1B9;
}

a {
    color: black;
    text-decoration: none;
}

header {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-photo {
    margin: 16px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.photo {
    border-radius: 100%;
    width: 80px;
    box-shadow: 3px 3px 4px #9fbe96;
}

.logo {
width: 300px;
margin: 20px;
}

.info {
    width: 100%;
    padding-left: 36px;
    background-color: #c2e1b977;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.info div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.info-contatti {
    background-color:  #C2E1B9;
    width: fit-content;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 16px;
    box-shadow: 3px 3px 4px;
}

.info-contatti:active{
    transform: translateY(2px);
    box-shadow: 2px 2px 2px black ;
}

main {
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

main section{
    padding: 0 16px;
border-radius: 16px;
background:  #f7f5f1;
-webkit-box-shadow: 12px 12px 24px #d5d5d9, -12px -12px 24px #ffffff;
box-shadow: 12px 12px 24px #d5d5d9, -12px -12px 24px #ffffff;
}

.gallery {
    width: 100%;
    height: 350px;
  overflow-x: scroll;
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  margin: 16px auto;
}

.gallery img {
    object-fit: contain;
    border-radius: 16px;
}

section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

section img {
    width: 200px;
}

.formazione h3,
.esperienze h3,
.competenze h3,
.lingue h3,
.hobby h3 {
    letter-spacing: 2px;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.formazione ul,
.esperienze ul,
.competenze ul,
.lingue ul,
.hobby ul {
    line-height: 30px;
    font-size: 1.2rem;
    margin-left: -16px;
}

.competenze ul,
.lingue ul,
.hobby ul {
    list-style: none;
    margin-left: -16px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
    font-size: 1.2rem;
  }

 input, textarea {
      padding: 6px;
    border-radius: 4px;
    border: 0;
  }

  .box-input {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  .img-gif {
      border-radius: 100%;
      width: 180px;
      margin: 8px 0 -18px;
      align-self: center;
      display: block;
  }

.invia {
    width: 100px;
    box-shadow: 2.5px 2.5px 4px black;
    margin: 8px 0;
    cursor: pointer;
    font-weight: bolder;
    background-color: #c2e1b977;
    font-size: 1rem;
}

.invia:active {
    transform: translateY(2px);
    box-shadow: 2px 2px 2px;
}

footer {
    padding: 8px 16px;
    background-color: #c2e1b977;
}

@media screen and (min-width: 767px) {

    body {
        overflow-x: hidden;
    }

    a {
        font-size: 1.6rem;
    }

    nav li{
        padding: 8px 16px;
        cursor: pointer;
        transition: all 0.35s;
    }

    nav li:hover{
        background-color: #d9efd3;
        border-radius: 16px;
        box-shadow: 3px 3px 4px black ;
    }
    
    nav li:active{
        transform: translateY(2px);
        box-shadow: 2px 2px 2px black ;
    }

    header {
        align-items: center;
    }

    .name-photo {
        flex-direction: row-reverse;
        align-items: center;
        gap: 40px;
        padding-left: 26px;
    }

    .name-photo h1 {
        font-size: 2.6rem;
        letter-spacing: 3px;
    }

    .name-photo img {
        border-radius: 100%;
        width: 160px;
        height: 200px;
    }

    .info{
        flex-direction: row;
        justify-content: center;
        gap: 26px;
        align-items: center;
        flex-wrap: wrap;
    }

    .info-contatti {
        font-size: 1rem;
        padding: 8px 16px;
        margin-bottom: 0;
    }

    main {
        flex-wrap: wrap;
        margin:36px;
        gap: 30px;
    }


    main section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px 0px 8px 36px;
    }

    section div {
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items:flex-start;
        gap: 60px;
        margin-top: -20px;
    }

    section img {
        width: 400px;
        margin-top: -46px;
        margin-bottom: 26px;
    }

    form {
        gap: 16px;
      }

      .img-gif {
        display: none;
    }

    .input-desk {
        width: 40%;
    }

    .invia {
        margin: 16px 0;
    }

    footer {
        padding: 8px 36px;
        background-color: #c2e1b977;
    }



}




